/* additions and overwrites for the managed accounts app */
@import "variables";

// File import
.file-input {
  margin: 0.75rem 0 1rem;

  .file-name {
    margin-right: 10px;
    color: $txt-gray;
    font-size: $txt-sm;

    &.input-validate-error {
      position: relative;
      border: none;
    }
  }

  // hiding the input
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  // Styling the label as button
  label.btn-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    font-size: 13px !important;
  }
}

// File export and table edits
.form-controls {
  padding: 1rem 1rem 0.75rem;
  background: $white;
  border-bottom: 2px dashed $border-gray;
  margin-top: 1.5rem;

  label {
    font-size: 15px;
  }

  .buttons {
    margin-bottom: 1rem;
    padding: 0;
  }
}
