@import "./variables";

header#header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .eduid-logo {
    width: 267px;
    height: 40px;
    background-image: url("../img/eduid-logo-ma.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    display: inline-block;

    @media (max-width: $bp-md) {
      height: 34px;
    }
  }
  .header-user {
    text-align: right;
    font-family: $inter-bold;
    svg {
      padding-right: 5px;
      margin-left: 0;
    }
    button {
      height: auto;
    }
    @media (max-width: $bp-sm) {
      text-align: left;
    }
  }

  @media (max-width: $bp-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}
