@import "variables";

input {
  display: flex;
  background-color: #fff;
  font-family: "Inter-Regular", "Arial", "Helvetica", "sans-serif";
  font-size: 1.5rem;
  font-weight: 500;
  color: #161616;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: solid 2px #161616;
  width: 100%;
  padding: 1.25rem 0.5rem;
  height: 3rem;
  margin-bottom: 2rem;
}

.input-validate-error {
  font-size: $txt-sm;
  color: $error-red;

  fieldset &,
  .fieldset & {
    position: absolute;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

@media (max-width: $bp-sm) {
  input {
    font-size: 1rem;
  }

  input::placeholder {
    font-size: 1rem;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 50px $white inset;
}

// import excel input style
// hiding the input
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
// Styling the label
.file-input label {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Accessibility
input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}
