/* styles for ordered list with large number */
@import "variables.scss";

.listed-steps {
  margin-bottom: 2rem;
  list-style-type: decimal;

  li {
    margin-bottom: 1rem;
    font-size: $txt-sm;
    line-height: 1.375;

    &::marker {
      font-size: 1em;
      font-family: $akkurat;
      font-weight: bold;
    }
    fieldset:last-of-type {
      margin-bottom: 0;
    }
  }

  .add-account & {
    margin-bottom: 0;

    li {
      margin-bottom: 0;

      label {
        flex: 1;
        font-size: 15px;
      }
    }
  }
}
