/* Modals
-------------------------------------------------- */

.modal {
  display: flex !important;
  justify-content: center;
  width: 60%;
  margin: 0 20%;
  padding: 1rem 0;

  &-dialog {
    background-color: $white;
    border-radius: 20px;
    width: 100%;
    margin: auto;

    .modal-content {
      background-color: $white;
      border-radius: 20px;

      .modal-header {
        border-bottom: none;
        padding: 1.5rem 1.5rem 0;

        .modal-title {
          width: 100%;
          display: flex;
          text-transform: none;
          @extend .heading-2 !optional;

          //remove below when fixed vite @extend rule
          margin-top: 0;
          line-height: 1.2;
          font-family: $inter-bold;
          font-weight: unset;
          font-size: 1.65rem;
          margin-bottom: 0.75em;

          @media (max-width: $bp-md) {
            font-size: 1.5rem;
          }

          @media (max-width: $bp-md) {
            word-wrap: break-word;
            word-break: break-word;
          }
        }
      }

      .modal-body {
        padding: 0 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        line-height: 1.4;

        @media (max-width: $bp-lg) {
          font-size: 1.125rem;
        }
      }

      .modal-footer {
        border-top: none;
        margin: 0 1rem 2rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: center;

        button {
          margin: 0;
        }
      }
    }

    @media (min-width: 576px) {
      max-width: 100%;
    }

    @media (max-width: $bp-lg) {
      width: calc(100% - 1.25rem);
      margin: auto 1rem;

      .modal-body {
        font-size: 1.125rem;
      }
    }

    @media (max-width: $bp-md) {
      max-width: calc(100% - 40px);
    }
  }

  @media (max-width: $bp-lg) {
    width: 100%;
    margin: 0;
  }
}
