/* styles for tables displaying user info on settings page */
@import "variables";

table {
  width: 100%;
  font-size: $txt-sm;
  font-family: $inter-light;
  table-layout: fixed;
  background-color: $white;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-family: $inter-bold;
    padding: 1rem 0.5rem;

    &:first-child {
      white-space: nowrap;
      padding-left: 1rem;
      width: 4.25rem;
    }
  }

  tbody {
    margin-bottom: 1rem;

    tr {
      height: 3rem;

      &:nth-child(odd) {
        background-color: $bg-gray;
      }

      td {
        word-wrap: break-word;
        line-height: 1;
        padding: 0.25rem 0.5rem;

        &:first-child {
          padding-left: 1rem;

          .flex-between {
            justify-content: flex-start;
          }
        }

        .btn-link {
          height: auto;
        }
      }
    }
  }
}
